<div id="container">
  <div class="burger">
    <div class="text">
      <span class="char1">П</span>
      <span class="char2">Р</span>
      <span class="char3">И</span>
      <span class="char4">В</span>
      <span class="char5">Е</span>
      <span class="char6">Т</span>
      <span class="char61">,</span>
      <span class="char7">Т</span>
      <span class="char8">Ы</span>
      <span class="char9">К</span>
      <span class="char10">Т</span>
      <span class="char11">О</span>
      <span class="char12">?</span>

    </div>
    <div class="top">
      <div class="eyes"></div>
      <div class="mouth"></div>
    </div>
    <div class="middle">
      <div class="kanachi-container">
        <div class="kanachi"></div>
        <div class="kanachi"></div>
        <div class="kanachi"></div>
        <div class="kanachi"></div>
        <div class="kanachi"></div>
      </div>
      <div class="meat"></div>
      <div class="cheese"></div>
    </div>
    <div class="bottom"></div>
  </div>
  <div id="buttons">
    <div id="curer">
      <a href="/curer"><button class="btn">Курьер</button></a>
    </div>
    <div id="user">
      <a href="/user/login"><button class="btn">Покупатель</button></a>
    </div>
  </div>
</div>
