<div id="container">
  <h2>Регистрация</h2>
  <form action="/curer/signup" name="loginForm" method="post">
    <div class="input">
      <label for="name">Имя пользователя
        <input type="text" name="name" id="name">
      </label>
    </div>
    <div class="input">
      <label for="phone">Номер телефона
        <input type="text" name="phone" id="phone">
      </label>
    </div>
    <div class="input">
      <label for="email">Адрес электронной почты
        <input type="text" name="email" id="email">
      </label>
    </div>
    <div class="input">
      <label for="password">Пароль
        <input type="password" name="password" id="password">
      </label>
    </div>
    <div class="input">
      <input type="submit" name="loginbutton" id="loginbutton" value="Зарегистрироваться">
    </div>
    {{#if error}}
    <p>{{this.status}}</p>
    {{/if}}
  </form>
</div>
