<div>
  <form action="zakaz" method="POST">

    <p>
       Позиции в заказе
    </p>

    <div id="products" name="products">
      <div>
        <input name="product" id="product" type="text" required>
        <input name="quantity" id="quantity" type="text" required>
      </div>
    </div>
    <div id="add">
      <p>+</p>
    </div>

    <div>
      <span>
        <p>Заказ откуда</p>
        <input name="from" type="text" required>
      </span>
      <span>
        <p>Адрес</p>
        <input name="adres" type="text" required>
      </span>
      <span>
        <p>Коментарий и фото</p>
        <input name="comment" type="text">
      </span>
      <p>
        <input class="buttom" id="ok" type="submit" value="Отправить">
      </p>
    </div>
  </form>
</div>
